:root {
  --background-color: #f7f2f7;
  --primary-color: #c9c2cc;
  --branding-color: #0e75a9;
  --heading-font-color: #35283c;
  --font-color: #b09896;
}

body {
  background-color: var(--background-color);
  color: var(--heading-font-color);
}

h1 {
  color: var(--heading-font-color);
}

.App-logo {
  max-width: 100px;
}

footer {
  font-size: 13px;
}
